html{
	font-family:'Oswald','Courier';
	background-color:rgb(168, 212, 224);
}

header img{
	display:block;
	width:10%;
	margin-right:auto;
	margin-left:auto;
}

footer{
	text-align:center;
}

#checker{
	display:flex;
	justify-content: space-around;
}

#checker1, #checker2, #checker3{
	display:flex;
	flex-direction:column-reverse;
}

#checker2{
	justify-content:flex-end;
}

.block_form{
	background-color:grey;
	border:1px solid black;
	height:auto;
	padding-bottom:2%;
	width:400px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top:2%;
	border-radius:13px;
	box-shadow: 2px 2px 2px black;
}


.text_box{
	width:80%;
}


.submit, #reset{
	width:83%;
	height:10%;
}