html{
	font-family:'Oswald','Courier';
	background-color:#08373F;	
}

header img{
	display:block;
	width:10%;
	margin-right:auto;
	margin-left:auto;
	margin-top:1%;
}

footer{
	text-align:center;
	color:white;
	text-shadow:1px 0 black, 0 1px black;
	text-decoration:none;
}

footer a{
	text-decoration:underline;
	color:#38B0C5;
	text-shadow:none;
}

a:hover{
	text-shadow:2px 0 black, 0 2px black;

}

h1{
	color:#C5EDF4;
	text-shadow:1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}

button{
	width:83%;
	height:25px;
	background:linear-gradient(#f2f6f8, #d8e1e7, #e0eff9);
	border:1px solid grey;
	border-radius:3px;
}

.submit:hover{
	background:linear-gradient(#cae8cd, #B8D18A);
}


h3{
	margin-bottom:-15px;
}

h3, label{
	font-size:18px;
	color:#000033;
	font-family:'Oswald';
	font-weight:normal;
}

input{
	width:80%;
}

#homme, #femme{
	width:auto;
}

#flexbox{
	column-count:2;
	column-gap:100px;
}

#checker{
	display:flex;
	justify-content: space-around;
}

#checker1, #checker2, #checker3{
	display:flex;
	flex-direction:column-reverse;
}

#checker2{
	justify-content:flex-end;
}

.block_form{
	background-color:#258394;
	border:1px solid black;
	height:auto;
	padding-bottom:2%;
	width:400px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top:2%;
	border-radius:13px;
	box-shadow: 2px 2px 2px black;
}

.block_form_inscription{
	background-color:#258394;
	border:1px solid black;
	height:auto;
	padding-bottom:2%;
	width:900px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top:2%;
	border-radius:13px;
	box-shadow: 2px 2px 2px black;
}


.text_box{
	width:80%;
}

.reset{
	background:linear-gradient(#f84f32, #e73727);
}

